.footer{
	min-height:50px;
	 background-size: cover;
    background-position: center center;
	padding-top:14px;
}

.footerText{
	color:#3D2F2E;
}

.footerInfo{
	position: -webkit-sticky;
	position: sticky;
	bottom: 0;
	z-index:10000000;
	background-color: #FFFDF8;
}