.innerContainer::-webkit-scrollbar { /* chrome based */
	width: 0px;  /* ширина scrollbar'a */
	background: transparent;  /* опционально */
}
.outerContainer{
	width:100%;
	height:1000px;
	overflow-y: scroll;
}

.writeReview{
	padding:20px 20px 0 20px;
	margin:35px auto 35px;
	width:100%;
	height:500px;
	border:2px grey solid;
	border-radius: 10px;
}
.ReviewBlock{
	padding:35px;
	background-color: #F5F4F0;
}
.messageBox{
	width:100%;	
	min-height:250px;
	max-height:250px;
}
.ReviewHeader{
	text-align: center;
}
.yourName,.sendRevButton{
	width:100%;
	max-height:80%;
}
.yourName{
	margin-bottom: 20px;
}
.sendRevButton{
	margin-top: 20px;
	background-color: #BED533 !important;
	border-color: #BED533 !important;
}
.yourName, .messageBox{
	padding-left: 5px;
	background-color: #FFFDF8;
}
.reviewCaptcha{
	margin-top: 30px;
	margin-left: 25%;
}
.reviewHeader{
	text-align: center;
}